.note-paper {
    position: relative;
}

.notepaper-img {
    width: 150%;
    height: 1000px;
}

.text-overlay {
    position : absolute;
    top: 150px;
    left: 825px;
    font-weight: bold;
    font-size: 20px;
}

.button-overlay {
    position: absolute;
    top: 270px;
    left: 870px;
}

.remove-button {
    font-size: 12px; 
    padding: 2px 5px; 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.list {
    position: absolute;
    left: -450px;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

textarea {
    width: 200px;
    height: 100px
}