.note-paper {
    position: relative;
}

.notepaper-img {
    width: 150%;
    height: 1000px;
}

.text-overlay {
    position : absolute;
    top: 150px;
    left: 825px;
    font-weight: bold;
    font-size: 20px;
}

.button-overlay {
    position: absolute;
    top: 270px;
    left: 870px;
}

.remove-button {
    font-size: 12px; 
    padding: 2px 5px; 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.list {
    position: absolute;
    left: -450px;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

textarea {
    width: 200px;
    height: 100px
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .notepaper-img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Adjust height automatically */
    }

    .text-overlay {
        top: 100px; /* Adjust position for smaller screens */
        left: 20px; /* Adjust position for smaller screens */
        font-size: 16px; /* Reduce font size */
    }

    .button-overlay {
        top: 150px; /* Adjust position for smaller screens */
        left: 20px; /* Adjust position for smaller screens */
    
    }

    .list {
        position: relative; /* Change position to relative */
        left: 0; /* Reset left position */
        font-size: 14px; /* Reduce font size */
    }

    textarea {
        width: 100%; /* Make textarea responsive */
        height: auto; /* Adjust height automatically */
    }
}