.container {
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    height: 1000px;
}

.character-img {
    width: 100%;
    opacity: 0.7;
}

.characterList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    overflow-y: auto;
    max-height: 250px;
    width: 400px;
    background-color: rgba(166, 172, 177, 0.723);
    border-radius: 10px;
    border: 1px solid;
    z-index: 1;
    list-style-type: none;
}

.character-select {
    position: relative;
    left: 450px;
    color: black;
    background-color: rgba(166, 172, 177, 0.723);
    border-radius: 15px;
    border: 1px solid;
    margin-top: 20px;
}

.existing-character {
    position: relative;
    left: 135px;
    background-color: rgba(166, 172, 177, 0.723);
    border-radius: 15px;
    border: 1px solid;
    margin-top: 10px;
}

.new-character {
    position: relative;
    bottom: 300px;
    left: -115px;
    background-color: rgba(166, 172, 177, 0.723);
    border-radius: 10px;
    border: 1px solid;
}

.character-card-option-selected {
    background-color: rgb(74, 210, 122);
}

.character-card-option {
    background-color: cornflowerblue;
}

.character-card-option:hover {
    background-color:bisque;
}

.delete-button {
    position: relative;
    padding: 1px;
    float: right;
    border-radius: 10px;
}

#form-submit {
    position: relative;
    bottom: 350px;
    height: 100px;
    max-width: 1500px;
    font-weight: bold;
    font-size: 20px;
    background-color:rgba(166, 172, 177, 0.723) !important;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .character-select {
        position: relative;
        left: 0;
        top: 20px;
        text-align: center;
    }

    .existing-character {
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .new-character {
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .characterList {
        width: 90%;
    }

    #form-submit {
        position: relative;
        bottom: 0;
        left: 0;
        max-width: 90%;
        margin: 20px auto;
        padding: 15px;
    }
}

@media (min-width: 769px) {
    .character-select {
        position: absolute;
        left: 750px;
        top: 105px;
    }

    .existing-character {
        position: absolute;
        bottom: 500px;
        left: 820px;
    }

    .new-character {
        position: absolute;
        bottom: 5px;
        left: 820px;
    }

    .characterList {
        width: 400px;
    }

    #form-submit {
        position: absolute;
        max-width: 1500px; 
        left: 170px;
        bottom: -250px;
    } 
}