.container {
    display: flex;
    flex-wrap: wrap;
    width: 150%;
    height: 1000px;
}

.character-img {
    width: 100%;
    opacity: 0.7;
}

.characterList {
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translateX(-50%);
    padding: 10px;
    overflow-y: auto;
    max-height: 500px;
    width: 400px;
    background-color: rgba(166, 172, 177, 0.723);
    border-radius: 10px;
    border: 1px solid;
    z-index: 1;
    list-style-type: none;
}

.character-select {
    position: absolute;
    left: 750px;
    color: black;
    background-color: rgba(166, 172, 177, 0.723);
    border-radius: 15px;
    border: 1px solid;
    margin-top: 20px;
}

.existing-character {
    position: absolute;
    top: 32%;
    left: 20%;
    background-color: rgba(166, 172, 177, 0.723);
    padding-bottom: 10px;
    border-radius: 15px;
    border: 1px solid;
}

.new-character {
    position: absolute;
    top: 300px;
    right: 18%;
    background-color: rgba(166, 172, 177, 0.723);
    padding-bottom: 10px;
    border-radius: 15px;
    border: 1px solid;
}

.character-card-option-selected {
    background-color: rgb(74, 210, 122);
}

.character-card-option {
    background-color: cornflowerblue;
}

.character-card-option:hover {
    background-color:bisque;
}

.delete-button {
    position: relative;
    padding: 1px;
    float: right;
    border-radius: 10px;
}

#form-submit  {
    position: absolute;
    top: 50%;
    right: 16%;
    font-weight: bold;
    font-size: 24px;
    background-color:rgba(166, 172, 177, 0.723) !important;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px 20px;
    margin: 10px 0;
    align-items: center; 
}

#form-pairs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

#form-submit button {
     margin-top: 20px;

}


@media (max-width: 768px) {
    .container {
    width: 100%;
    height: auto;
}
.character-select {
        position: relative;
        left: 0;
        width: 90%;
        max-height: 300px;
    }

    .existing-character, .new-character {
        position: relative;
        width: 90%;
        margin: 10px auto;
    }

    .characterList {
        position: relative;
        left: 0;
        width: 90%;
        max-height: 300px;
    }

    #form-submit {
        right: 0;
        width: 90%;
        margin: 10px auto;
    }
}

@media (min-width: 769px) {
    .container {
        width: 150%;
        height: 1000px;
    }

    .character-select {
        position: absolute;
        left: 750px;
        width: auto;
        margin-top: 20px;
    }

    .existing-character, .new-character {
        position: absolute;
        padding-bottom: 10px;
        background-color: rgba(166, 172, 177, 0.723);
        border-radius: 15px;
        border: 1px solid;
    }

    .characterList {
        position: absolute;
        top: 50%;
        left: 27%;
        width: 400px;
        max-height: 500px;
    }

    #form-submit {
        position: absolute;
        right: 16%;
        font-weight: bold;
        font-size: 24px;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: rgba(166, 172, 177, 0.723) !important;
        border-radius: 10px;
        border: 1px solid;
        align-items: center;
    } 
}