.overlay-combat {
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 5px;
}

.colosseum-img {
  width: 150%;
  opacity: 0.4;
}

.combat {
  display: flex;
}

.weapons, .spells, .skills {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 30px;
  flex: 1;
  color: white;
  background-color: rgba(128, 128, 128, 0.692);
  border-radius: 15px;
  overflow-y: auto;
  height: 600px;
  max-height: 700px;
}

.spellSelect, .weaponSelect {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.skillPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modifier, #diceCount, #diceType {
  width: 30%;
}

.dice {
  position: absolute;
  top: -30%;
  left: 43%;
  background-color: rgba(128, 128, 128, 0.692);
  padding: 20px;
  border-radius: 15px;
}

span {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: default;
  transition: border-color 0.25s;
}

@media (min-width:768px) and (max-width: 769px) {
  .combat {
    flex-direction: column;
  }

  .weapons, .skills, .spells {
    padding: 20px;
    margin: 10px;
    height: auto;
  }

  .colosseum-img {
    width: 100%;
    opacity: 0.6;
  }

  #modifier, #diceCount, #diceType {
    width: 70%;
  }

  .dice {
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }

  span {
    font-size: 14px;
  }
}