.overlay-combat {
  position: relative;
  margin-left: 60px;
  margin-top: 60px;
  padding: 20px;
  width: 130%;
  bottom: 1400px;
}


.combat {
  display: flex;
}

.weapons {
  display: flex;
  padding: 10px;
  margin: 15px;
  flex: 1;
  margin-right: 20px;
  background-color: gray;
  border-radius: 15px;
}

.spells {
  display: flex;
  padding: 10px;
  margin: 15px;
  flex: 1;
  background-color: gray;
  border-radius: 15px;
}

.skills {
  display: flex;
  padding: 10px;
  margin: 15px;
  flex: 1;
  background-color: gray;
  border-radius: 15px;
}

.spellSelect, .weaponSelect {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.skillPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modifier, #diceCount, #diceType {
  width: 30%;
}

.dice {
  align-items: center;
  margin-top: 75px;
}

span {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: default;
  transition: border-color 0.25s;
}

.colosseum-img {
  width: 150%;
  opacity: 0.4;
}