.home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    height: 100vh;
}

.home-img {
    width: 100%;
    height: auto;
}

.title {
    position: relative;
    bottom: 850px;
    right: 5px;
    color: black;
}

.sign-out-button {
    position: relative;
    bottom: 500px;
}

.form-group {
    margin-bottom: 15px;
}

#username {
    height: 20px;
}

#password {
    position: relative;
}

#sign-in-button {
    position: relative;
    bottom: 600px;
    right: 95px;
}

#register-button {
    position: relative;
    bottom: 600px;
    left:  115px;
}