.inventory-img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.7;
}

.inventory {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:#f0f0f0;
}

.image-container { 
    position: relative; 
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    width: 100%; 
    max-width: 1500px;
}

.overlay-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
}

.overlay-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color:antiquewhite;
    width: 80%;
    max-width: 600px;
}

h2 {
    color:#333;
    margin-top: 30px;
}

.inventory-page input, 
.inventory-page button {
    padding: 8px;
    margin: 5px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 2px;
    gap: 10px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

ul.item-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 480px) {
    .overlay-content {
        top: 30%;
    }

    .overlay-text {
        font-size: 20px;
    }

    ul.item-list li {
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    .overlay-content {
        top: 20%;
    }

    .overlay-text {
        font-size: 16px;
    }

    ul.item-list li {
        flex-direction: column;
    }
}