.container {
    display: flex;
    flex-wrap: wrap;
}

.character-img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.characterList {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    overflow-y: auto;
    max-height: 250px;
    width: 400px;
    background-color: rgba(166, 172, 177, 0.723);
    border-radius: 10px;
    border: 1px solid;
    z-index: 1;
     list-style-type: none;
}

.character-select {
    position: relative;
    left: 450px;
    bottom: 850px;
    color: black;
}

.existing-character {
    position: relative;
    bottom: 750px;
    left: 135px;
}

.new-character {
    position: relative;
    bottom: 300px;
    left: -115px;
}

.character-card-option-selected {
    background-color: rgb(231, 135, 135);
}

.character-card-option {
    background-color: rgb(170, 170, 255);
}

#form-submit {
    position: relative;
    bottom: 350px;
    left: 0;
    max-width: 1500px;
    font-weight: bold;
    background-color:rgba(166, 172, 177, 0.723) !important;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .character-select {
        position: relative;
        left: 0;
        top: 20px;
        text-align: center;
    }

    .existing-character {
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .new-character {
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .characterList {
        width: 90%;
    }

    #form-submit {
        position: relative;
        bottom: 0;
        left: 0;
        max-width: 90%;
        margin: 20px auto;
        padding: 15px;
    }
}

@media (min-width: 769px) {
    .character-select {
        position: absolute;
        left: 750px;
        top: 105px;
    }

    .existing-character {
        position: relative;
        bottom: 780px; 
        left: 520px;
    }

    .new-character {
        position: relative;
        bottom: 300px;
        left: 260px;
    }

    .characterList {
        width: 400px;
    }

    #form-submit {
        position: relative;
        max-width: 1500px;
        bottom: 300px; 
    }
}