.profile-img {
    width: 150%;
    height: 1050px;
}

.character-name {
    position: relative;
    left: 200px;
    bottom: 0;
    margin: 10px;
    top:-900px;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.traits {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    color: black;
    top: -900px;
    left: 200px;
}

.stats {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    color: black;
    top: -1500px;
    left: 1300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.attribute-box {
    position: relative;
    bottom: 0;
    padding: 15px;
    width: 150px;
    height: 65px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(159, 90, 17, 0.447);
    clip-path: polygon(
        20% 0%,
        80% 0%,
        100% 50%,
        100% 49%,
        80% 100%,
        20% 100%,
        0 50%,
        0 50%
    );
}

.edit {
    position: relative;
    display: block;
    bottom: 1700px;
    left: 800px;
    margin-top: 20px;
    padding: 5px 10px; 
    font-size: 18px; 
    font-weight: bold; 
    color: white; 
    background-color: #007bff; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-profile {
    position: relative;
    left: 350px;
    top: -950px;
    bottom: 1400px;
    margin: 100px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.edit-profile p {
    margin: 5px 0; /* Reduce spacing between <p> tags */
}

.save, .cancel {
    padding: 10px 15px; 
    margin: 5px; 
    font-size: 16px; 
    color: white;
    background-color: #007bff;
    border: none; 
    border-radius: 5px; 
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 769px) { 
    .title { 
        left: 50px;
        bottom: 700px;
        color: blue;
    }

    .character-name { 
        left: 10px;
        bottom: 600px;
        font-size: 30px;
        color: red;
    }

    .character-bio { 
        bottom: 585px;
        font-size: 25px;
    }

    .attribute-box {
        bottom: 1200px;
        left: 450px;
        width: 80px;
        height: 35px;
        font-size: 18px;
    }

    .edit {
        bottom: 1140px;
        left: 480px;
    }

    .edit-profile {
        left: 45px;
        bottom: 700px;
    }

    .save, .cancel {
        padding: 15px;
        margin: 5px;
    } 
}