.spellbook-container {
    position: relative; /* Ensure the parent container is positioned relative */
}

.spellbook-sheet {
    position: relative;
    min-height: 100vh; 
}

.spellbook {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%; 
    height: auto; 
    object-fit: cover; 
    z-index: -1; 
    opacity: 0.5; 
}

.overlay {
    position: relative; 
    padding: 20px;
    width: 150%;
}

.spellcasting-stats {
    margin: 20px auto;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    max-width: 150%;
}

.spellcasting-ability,
.spellcasting-modifier,
.proficiency-bonus,
.spell-save-dc,
.spell-attack-bonus {
    flex: 1 1 calc(20% - 20px); 
    margin: 10px;
    padding: 10px;
    background-color: rgba(88, 199, 222, 0.7);
    border-radius: 10px;
    text-align: center;
    
}

.spell-levels,
.spell-selector,
.saved-spells {
    display: inline-block;
    width: 30%; 
    vertical-align: top;
    margin: 20px 10px;
    padding: 10px;
    background-color: rgba(88, 199, 222, 0.7);
    border-radius: 10px;
}

.selected-spell-details {
    position: relative;
    margin: 20px auto;
    max-width: 95%;
    max-height: 200px; /* Restrict height */
    overflow-y: auto; /* Add vertical scroll */
    background-color: rgba(88, 199, 222, 0.7);
    padding: 15px;
    border-radius: 10px;
}
