.note-paper {
    position: relative;
}

.notepaper-img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position : absolute;
    top: 150px;
    left: 640px;
    font-weight: bold;
    font-size: 20px;
}

.button-overlay {
    position: absolute;
    top: 270px;
    left: 690px;
}

.list {
    position: absolute;
    left: -450px;
    font-weight: bold;
    font-size: 17px;
}

textarea {
    width: 200px;
    height: 100px
}