header {
    background-color: rgba(209, 198, 97, 0.422);
    padding: 10px 0;
    width: 150%;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0px 45px;
}

nav ul li a:hover {
    color: black;
    text-decoration: underline;
}

nav ul li a {
    color:cornflowerblue;
    font-weight: bold;
    font-size: 20px;
}

.sign-out-button {
    color:cornflowerblue;
    background-color: black;
   
    
}

.sign-out-button:hover {
    color: black; 
    background-color: cornflowerblue 
}

.error-message {
    color: red;
    background-color: black;
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px; 
    border-radius: 5px; 
    z-index: 1000; 
    text-align: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
