header {
    background-color: rgba(209, 198, 97, 0.422);
    padding: 10px 0;
    width: 150%;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0px 45px;
}

nav ul li a:hover {
    color: black;
    text-decoration: underline;
}

nav ul li a {
    color:cornflowerblue;
    font-weight: bold;
    font-size: 20px;
}

.sign-out-button {
    color:cornflowerblue;
    background-color: black;
   
    
}

.sign-out-button:hover {
    color: black; /* Text turns black on hover */
    background-color: cornflowerblue /* Button turns blue on hover */
}

.error-message {
    color: red;
    background-color: black;
    position: fixed; /* Use fixed positioning to place it in the viewport */
    top: 20px; /* Position it near the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for the element's own width */
    padding: 10px 20px; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    z-index: 1000; /* Ensure it's above other elements */
    text-align: center; /* Center the text */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow for better visibility */
}